body{
    margin: 0;
    padding: 0;
}
.margin-top{
    margin-top: 5%;
}
.slider-margin-top{
    margin-top: 10%;
}
.margin-bottom{
    margin-bottom: 5%;
}

.image-slider-margin{
    margin-top: 10%;
}
.carousol-background{
    background-color: #fceae8;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.bg-watch{
    background-color: #ffa500;
}
.bg-bag{
    background-color: #da70d6;
}
.bg-shoe{
    background-color: #0000ff;
}
.white-text{
    color: white;
}
.red-text{
    color: rgb(245, 14, 14);
}
.big-text{
    font-size: 50px;
}