body{
    margin: 0;
    padding: 0;
}
.margin-top{
    margin-top: 5%;
}
.slider-margin-top{
    margin-top: 10%;
}
.margin-bottom{
    margin-bottom: 5%;
}
.carousol-background{
    background-color: #fceae8;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.bg-watch{
    background-color: #ffa500;
}
.bg-bag{
    background-color: #da70d6;
}
.bg-shoe{
    background-color: #0000ff;
}
.white-text{
    color: white;
}
.red-text{
    color: rgb(245, 14, 14);
}
.big-text{
    font-size: 50px;
}
.big-border-radius{
    border-radius: 10px;
}
.image-rotate:hover{
    transform: rotate(30deg);
    transition: transform 0.35s ease-in-out;
}
.image-scale-up:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in-out;
}
.image-rotate-negetive:hover{
    transform: rotate(-30deg);
    transition: transform 0.35s ease-in-out;
}


/* for small screen  */
@media only screen and (max-width: 688px){
    .image-slider-margin-sm{
        margin-top: 17%;
    }
    .text-align-middle-sm{
        text-align: center;
    }
    .text-align-justify-sm{
        text-align: justify;
    }
    .padding-top-sm{
        padding-top: 2%;
    }

}